[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "xrf"]
	path = xrf
	url = https://github.com/holub008/xrf
	shallow = true
	registered = true
